<!DOCTYPE html>
<html>

<head>
  <title>TEAM BARCODE</title>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- UIkit CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.16.17/dist/css/uikit.min.css" />

  <!-- UIkit JS -->
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.16.17/dist/js/uikit.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.16.17/dist/js/uikit-icons.min.js"></script>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
  <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

  <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet" />
  <style>
    @import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&family=Jua&display=swap');

    * {
      font-family: 'East Sea Dokdo', cursive;
      font-family: 'Jua', sans-serif
    }

    .title {

      width: 1150px;
      height: 100px;
      margin: 20px auto 0px auto;
      border-radius: 10px;

      background-image: url('https://t1.daumcdn.net/cfile/tistory/9905E9455DE5D69813');
      background-position: center;
      background-size: cover;
      text-align: center;
    }

    .container {
      display: flex;
      justify-content: center;
      margin-top: 2rem;
      margin-bottom: 2rem;
      text-align: center;
    }

    .card {
      border: 1px solid black;
      padding: 1rem;
      transition: all 0.3s ease 0s;
      width: 200px;
      height: 276px;
      margin-left: 20px;
      border-radius: 50px;


    }

    .card2 {
      border: 1px solid black;
      padding: 1rem;
      transition: all 0.3s ease 0s;
      width: 950px;


      border-radius: 50px;
    }

    /* .cardbody {
      border: 100px solid rgb(0, 0, 0);
      width: 1200px;
      margin: 20px auto 20px auto;
    } */

    .comment-section {
      width: 100%;
      height: 100px
    }

    .mybtn>button {
      margin-top: 0px;
      margin-right: 10px;
    }

    textarea.form-control {


      width: 125px;
      resize: none;

    }

    .col-md-4>img {
      border: 1px solid black;
      padding: 1rem;
      width: 250px;
      height: 250px;
      margin: 0px auto 0px auto;
      border-radius: 10px;
      background-position: center;
      background-size: cover;
    }

    .guestbook {
      background-color: greenyellow;
      border: 1px solid black;
      font-size: large;
      color: firebrick;
      border-radius: 10px;
    }

    .guestbook2 {
      /* background-color: greenyellow; */
      /* border: 1px solid black; */
      font-size: medium;
      color: black;
      width: auto;
      height: 127px;
      /* border-radius: 10px; */
    }

    /* 아래는 방명록 CSS 입니다. */

    .card-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }

    .comment_card {
      width: 600px;
      margin-bottom: 30px;
      margin-left: 30px;
    }

    .input-group-text {
      width: 70px;
      text-align: center;
    }

    .comment_btn {
      width: 100%;
    }

    .table-body {
      overflow-y: scroll;
      scrollbar-width: thin;
      height: 200px;
      word-break: break-all;
    }

    .table_name {
      width: 120px;
    }
  </style>
  <script>
    $(document).ready(function () {
      show_order();
    });

    function show_order() {
      fetch('/member1').then((res) => res.json()).then((data) => {
        let rows = data['result']
        rows.forEach((a) => {
          let step;

          let name = a['name']
          let mbit = a['mbti']
          let blogUrl = a['blogUrl']
          let intro = a['intro']
          let temp_html = `
                              <h5 class="card-title">${name}</h5>
                              <p class="card-text">${mbit}</p>
                              <p class="card-text">${blogUrl}</p>
                              <p class="card-text">${intro}</p>
                                  
                `
                /*여기*/$('#plz1').append(temp_html)

        })

      })
    }
    $(document).ready(function () {
      show_order2();
    });
    function show_order2() {
      fetch('/member2').then((res) => res.json()).then((data) => {
        let rows = data['result']
        rows.forEach((a) => {
          let step;

          let name = a['name']
          let mbit = a['mbti']
          let blogUrl = a['blogUrl']
          let intro = a['intro']
          let temp_html = `
                              <h5 class="card-title">${name}</h5>
                              <p class="card-text">${mbit}</p>
                              <p class="card-text">${blogUrl}</p>
                              <p class="card-text">${intro}</p>
                                  
                `
                /*여기*/$('#plz2').append(temp_html)

        })

      })
    }
    $(document).ready(function () {
      show_order3();
    });
    function show_order3() {
      fetch('/member3').then((res) => res.json()).then((data) => {
        let rows = data['result']
        rows.forEach((a) => {
          let step;

          let name = a['name']
          let mbit = a['mbti']
          let blogUrl = a['blogUrl']
          let intro = a['intro']
          let temp_html = `
                              <h5 class="card-title">${name}</h5>
                              <p class="card-text">${mbit}</p>
                              <p class="card-text">${blogUrl}</p>
                              <p class="card-text">${intro}</p>
                                  
                `
                /*여기*/$('#plz3').append(temp_html)

        })

      })
    }
    $(document).ready(function () {
      show_order4();
    });
    function show_order4() {
      fetch('/member4').then((res) => res.json()).then((data) => {
        let rows = data['result']
        rows.forEach((a) => {
          let step;

          let name = a['name']
          let mbit = a['mbti']
          let blogUrl = a['blogUrl']
          let intro = a['intro']
          let temp_html = `
                              <h5 class="card-title">${name}</h5>
                              <p class="card-text">${mbit}</p>
                              <p class="card-text">${blogUrl}</p>
                              <p class="card-text">${intro}</p>
                                  
                `
                /*여기*/$('#plz4').append(temp_html)

        })

      })
    }

    // 아래는 방명록 스크립트 입니다 //

    $(document).ready(function () {
      show_writing('table_id1');
      show_writing('table_id2');
      show_writing('table_id3');
      show_writing('table_id4');
    });

    function show_writing(table_id) {
      fetch(`/chat?table_id=${table_id}`).then((res) => res.json()).then((data) => {
        let rows = data['result']
        rows.forEach((a) => {
          let name = a["name"]
          let comment = a["comment"]

          let comment_html = `
                    <tr>s
                        <td>${name}</td>
                        <td>${comment}</td>
                    </tr>`
          $(`#${table_id}-comment-load`).append(comment_html)
        })
      })
    }

    function save_writing(name_id, comment_id, table_id) {
      let name = $("#" + name_id).val();
      let comment = $("#" + comment_id).val();
      let formData = new FormData()
      formData.append("name_give", name)
      formData.append("comment_give", comment)
      formData.append("table_id_give", table_id);

      fetch('/chat', { method: "POST", body: formData, }).then((res) => res.json()).then((data) => {
        alert(data["msg"])
        window.location.reload()
      });
    }

    fetch('/chat', { method: "POST", body: formData }).then((res) => res.json()).then((data) => {
      console.log(data);
      alert(data["msg"]);
    });

  </script>
</head>

<body>
  <div class="title">
    <h1>
      내배캠 스프링 비반 구조 marge잘되니
    </h1>
  </div>
  <table class="table">
    <tbody>
    </tbody>
  </table>
  <div class="container">
    <div class="card2">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <div id="plz1" class="card-body">
              <h5 class="card-title"></h5>
              <p class="card-text"></p>
              <p class="card-text"></p>
              <p class="card-text"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
      <div class="uk-card uk-card-default uk-width-1-2@m comment_card">
        <div class="uk-card-header">
          <div class="uk-grid-small uk-flex-middle" uk-grid>
            <div class="uk-width-auto">
              <img class="uk-border-circle" width="40" height="40"
                src="https://cdnimg.melon.co.kr/cm2/artistcrop/images/002/61/143/261143_20210325180240_org.jpg?61e575e8653e5920470a38d1482d7312/melon/optimize/90"
                alt="Avatar">
            </div>
            <div class="uk-width-expand">
              <h3 class="uk-card-title uk-margin-remove-bottom">ㅁㅁㅁ님 방명록</h3>
              <p class="uk-text-meta uk-margin-remove-top">따스한 한 마디가 팀원들에게 힘이 됩니다.
              </p>
            </div>
          </div>
        </div>
        <div class="table-body">
          <table class="uk-table uk-table-divider">
            <thead>
              <tr>
                <th class="table_name">이름</th>
                <th class="table_comment">코멘트 내용</th>
              </tr>
            </thead>
            <tbody id="table_id1-comment-load">
            </tbody>
          </table>
        </div>
        <hr class="card-divider">
        <div class="input-group mb-3">
          <span class="input-group-text">이름</span>
          <input id="name1" type="text" class="form-control" />
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text">내용</span>
          <input id="comment1" type="text" class="form-control" />
        </div>
        <button onclick="save_writing('name1', 'comment1', 'table_id1')" type="button"
          class="btn btn-warning comment_btn">
          작성
        </button>
      </div>
  </div>
  <div class="container">
    <div class="card2">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <div id="plz2" class="card-body">
              <h5 class="card-title"></h5>
              <p class="card-text"></p>
              <p class="card-text"></p>
              <p class="card-text"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="uk-card uk-card-default uk-width-1-2@m comment_card">
      <div class="uk-card-header">
        <div class="uk-grid-small uk-flex-middle" uk-grid>
          <div class="uk-width-auto">
            <img class="uk-border-circle" width="40" height="40"
              src="https://cdnimg.melon.co.kr/cm2/artistcrop/images/002/61/143/261143_20210325180240_org.jpg?61e575e8653e5920470a38d1482d7312/melon/optimize/90"
              alt="Avatar">
          </div>
          <div class="uk-width-expand">
            <h3 class="uk-card-title uk-margin-remove-bottom">ㅁㅁㅁ님 방명록</h3>
            <p class="uk-text-meta uk-margin-remove-top">따스한 한 마디가 팀원들에게 힘이 됩니다.
            </p>
          </div>
        </div>
      </div>
      <div class="table-body">
        <table class="uk-table uk-table-divider">
          <thead>
            <tr>
              <th class="table_name">이름</th>
              <th class="table_comment">코멘트 내용</th>
            </tr>
          </thead>
          <tbody id="table_id2-comment-load">
          </tbody>
        </table>
      </div>
      <hr class="card-divider">
      <div class="input-group mb-3">
        <span class="input-group-text">이름</span>
        <input id="name2" type="text" class="form-control" />
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">내용</span>
        <input id="comment2" type="text" class="form-control" />
      </div>
      <button onclick="save_writing('name2', 'comment2', 'table_id2')" type="button"
        class="btn btn-warning comment_btn">
        작성
      </button>
    </div>
  </div>
  <div class="container">
    <div class="card2">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <div id="plz3" class="card-body">
              <h5 class="card-title"></h5>
              <p class="card-text"></p>
              <p class="card-text"></p>
              <p class="card-text"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="uk-card uk-card-default uk-width-1-2@m comment_card">
        <div class="uk-card-header">
          <div class="uk-grid-small uk-flex-middle" uk-grid>
            <div class="uk-width-auto">
              <img class="uk-border-circle" width="40" height="40"
                src="https://cdnimg.melon.co.kr/cm2/artistcrop/images/002/61/143/261143_20210325180240_org.jpg?61e575e8653e5920470a38d1482d7312/melon/optimize/90"
                alt="Avatar">
            </div>
            <div class="uk-width-expand">
              <h3 class="uk-card-title uk-margin-remove-bottom">ㅁㅁㅁ님 방명록</h3>
              <p class="uk-text-meta uk-margin-remove-top">따스한 한 마디가 팀원들에게 힘이 됩니다.
              </p>
            </div>
          </div>
        </div>
        <div class="table-body">
          <table class="uk-table uk-table-divider">
            <thead>
              <tr>
                <th class="table_name">이름</th>
                <th class="table_comment">코멘트 내용</th>
              </tr>
            </thead>
            <tbody id="table_id3-comment-load">
            </tbody>
          </table>
        </div>
        <hr class="card-divider">
        <div class="input-group mb-3">
          <span class="input-group-text">이름</span>
          <input id="name3" type="text" class="form-control" />
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text">내용</span>
          <input id="comment3" type="text" class="form-control" />
        </div>
        <button onclick="save_writing('name3', 'comment3', 'table_id3')" type="button"
          class="btn btn-warning comment_btn">
          작성
        </button>
      </div>
  </div>
  <div class="container">
    <div class="card2">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <div id="plz4" class="card-body">
              <h5 class="card-title"></h5>
              <p class="card-text"></p>
              <p class="card-text"></p>
              <p class="card-text"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="uk-card uk-card-default uk-width-1-2@m comment_card">
      <div class="uk-card-header">
        <div class="uk-grid-small uk-flex-middle" uk-grid>
          <div class="uk-width-auto">
            <img class="uk-border-circle" width="40" height="40"
              src="https://cdnimg.melon.co.kr/cm2/artistcrop/images/002/61/143/261143_20210325180240_org.jpg?61e575e8653e5920470a38d1482d7312/melon/optimize/90"
              alt="Avatar">
          </div>
          <div class="uk-width-expand">
            <h3 class="uk-card-title uk-margin-remove-bottom">ㅁㅁㅁ님 방명록</h3>
            <p class="uk-text-meta uk-margin-remove-top">따스한 한 마디가 팀원들에게 힘이 됩니다.
            </p>
          </div>
        </div>
      </div>
      <div class="table-body">
        <table class="uk-table uk-table-divider">
          <thead>
            <tr>
              <th class="table_name">이름</th>
              <th class="table_comment">코멘트 내용</th>
            </tr>
          </thead>
          <tbody id="table_id4-comment-load">
          </tbody>
        </table>
      </div>
      <hr class="card-divider">
      <div class="input-group mb-3">
        <span class="input-group-text">이름</span>
        <input id="name4" type="text" class="form-control" />
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">내용</span>
        <input id="comment4" type="text" class="form-control" />
      </div>
      <button onclick="save_writing('name4', 'comment4', 'table_id4')" type="button"
        class="btn btn-warning comment_btn">
        작성
      </button>
    </div>
  </div>
</body>

</html>